
body {
    /* Background pattern from subtlepatterns.com */
    background: #eeeeee url("../img/dark_embroidery.png") repeat;
}

#posts {
    margin:30px;
}

.title {
    text-align: center;
    color: white;
}

.panel-heading.h1 {
    font-size: 35px;
}

.panel-heading.type-link {

}

.panel-body h2 {
    font-size: 25px;
}

#page-links{
    color: white;
    font-size:25px;
    text-align: center;
}