<html ng-app="viewApp">
  <head>
    <title>10/18/2015</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-sanitize.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--<script src="js/jquery-1.11.3.min.js"></script>-->
    <script src="js/tumblr-viewer.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> 
  </head>

  <body>
    <div class="container">
      <div class="title center h1">Name TBD</div>
      <div id="tumblr-viewer">
        <div ng-controller="get_posts" id="posts" ng-bind-html="postHTML | unsafe"></div>
        <div id="page-links">
          <!--<div ng-if="totalPages > 1">-->
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="a in allPages track by $index"><a href="#" ng-click="gotoPage($index);">{{$index+1}}</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          <!--</div>-->
        </div>
      </div>
    </div>
  </body>
</html>
